<style>
*, *::before, *::after {
  box-sizing: border-box;
}

.head{
  text-align: left;
  display:inline;
}

/* .spoiler {
  color: transparent;
  text-shadow: 0 0 10px #Bfbebe;
  cursor:none;
  text-align: left;
  display:inline;
} */

.spoiler {
  /* color: transparent; */
  /* text-shadow: 0 0 10px #Bfbebe; */
  color:#808080;
  background-color: #808080;
  cursor:none;
  text-align: left;
  display:inline;
}


.spoiler:hover {
  color: #000000;
  background-color: #ffffff;
  text-shadow: 0 0 0 transparent;
  transition: all 0.6s;
}
</style>

<p class="head"><b>{{include.head}} &nbsp;</b> </p> <p class="spoiler"> {{include.text}} {{include.sub-text}} </p>
