html {
    font-size: 58.6%;
    scrollbar-color: #6c6c6c #2e2e2e;
}

@media (min-width: 770px) { 
    body {
        width: 765px;
        line-height: 1.5;
        overflow-x: hidden;
    }

    main#content hr, main#content pre, main#content figure, main#content figure img {
        width: 100%;
        margin-left: 0;

    }
    main#content img {
        max-width:100%;
        margin-left: 0;
        display:block;
    }

    main#content .banner {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    main#content .banner-img {
        min-width: 150%;
        margin-left: -25%;
    }

    main#content .banner-caption {
        margin-left: -25%;
        margin-top: 0px;
        color: #6c6c6c;
    }
}

main#content .banner-caption {
    margin-top: 0px;
    color: #6c6c6c;
}

main#content .block-note {
    border-left:5px solid;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
}

main#content .bn-blue {
    border-color: #303f9f;
    background-color: #303f9f30;
}

main#content .bn-yellow {
    border-color: #E7AF36;
    background-color: #E7AF3630;
}

main#content .bn-grey {
    border-color: #A9A9A9;
    background-color: #A9A9A930;
}

main#content .bn-pink {
    border-color: #FF1493;
    background-color: #FF149330;
}

main#content .enable-darkmode {
    filter: brightness(.75) contrast(1.2);
}

main#content .display-inline {
    display: inline;
}

main#content .enable-darkmode:hover {
    filter: brightness(1) contrast(1);
}

main#content .scrollable {
    width: 100%;
    overflow-x: scroll;
}

main#content table {
    width: 100%;
    border-collapse: collapse;
    position: sticky;
    scroll-behavior: calc();
}

main#content td, th {
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}